.converter {
  display: flex;
  flex-direction: column;
  background: #2e0039;
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.2);
  border-radius: 21px;
  font-family: "Poppins";
  font-style: normal;
  color: #ffffff;
  width: 100%;
  max-width: 850px;
 

  padding-top: 24px;
  padding-bottom: 29px;
  padding-left: 38px;
  padding-right: 38px;
}

.converter h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  height: 30px
}

.converterFirstRow {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  gap: 18%;
  margin-bottom: 30px;
  flex-wrap: wrap;
  row-gap: 20px;
}
.select {
  display: flex;
  align-items: center;
  gap: 16px;
}
.converterMenu {
  width: 218px;
  background-color: transparent;
  color: #ffffff;
  border: none;
  border-bottom: 1px solid #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding: 7px 0;
  font-family: "Poppins";
  font-style: normal;
}

.converterInput {
  display: flex;
  direction: row;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  gap: 9px;
}

.input {
    width: 218px;
    background-color: transparent;
    color: #ffffff;
    border: none;
    border-bottom: 1px solid #ffffff;
    text-align: end;
    font-size: 14px;
    padding: 7px 0;
    font-family: "Poppins";
  font-style: normal;
}

.converterSecondRow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
}

.result{
    display: flex;
    flex-direction: row;
    padding-right: 40px;
    gap: 9px;
    align-items: center;
}

.resultValue{
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
color: #FFFFFF;
}

.resultMedida{
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
}
.fa-regular:hover{
  scale: 1.4;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .converter {
    padding-top: 11px;
    padding-bottom: 27px;
    padding-left: 21px;
    padding-right: 21px;
    margin: 2%;
    
  }
}
